<h1>Welcome to Koombea Link Tree App!!</h1>
<br>

<%= link_to "Add User", users_new_path %>

<br>

<h2> Registered Users </h2>
<table>
    <tr>
        
        <thead>
            <th>Name</th>
            <th>Biography</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Instagram</th>
            <th>GitHub</th>
        </thead>
    </tr>
        <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.biography %></td>
        <td><%= link_to user.Facebook %></td>
        <td><%= link_to user.Twitter %></td>
        <td><%= link_to user.Instagram %></td>
        <td><%= link_to user.GitHub %></td>
        <td>
            <%= link_to "View" %>
            <%= link_to "Update", edit_user_path(user) %>
            <%= link_to "Delete", user, method: :delete, data: { confirm: "Do you want delete this user?"} %>
        </td>
    </tr>
        <% end %>
</table>

